#!/bin/bash
# 
# 运行：
# cp ./run.sh.example ./run.sh
# sudo ./run.sh
# 
# 注意：需要先从镜像 ibbd/php-fpm 启动容器 ibbd-php-fpm
# 

#-----------------------------------
# ----- 配置目录  BEGIN ------------
#-----------------------------------

# 代码目录
code_path=/var/www

# nginx配置目录
conf_path=/etc/nginx/nginx-conf-v2/products
sites_path=$conf_path/sites-enabled
nginx_conf_path=$code_path/nginx.conf

# nginx日志目录
logs_path=/var/log/nginx

#-----------------------------------
# ----- 配置目录  END --------------
#-----------------------------------


name=nginx
#current_path=$(pwd)
#if [ ! -f $current_path/conf/nginx.conf ]
if [ ! -f $nginx_conf_path ]
then
    echo "ERROR: $nginx_conf_path is error."
    exit 1
fi

docker stop ibbd-$name 
docker rm ibbd-$name 

# 注意：这里需要 volumes-from ,否则出错, 因为nginx需要用到相应的路径
docker run --name=ibbd-$name -d \
    -p 80:80 \
    --link ibbd-php-fpm:php-fpm \
    -v $code_path:/var/www \
    -v $logs_path:/var/log/nginx \
    -v $sites_path:/etc/nginx/sites-enabled:ro \
    -v $nginx_conf_path:/etc/nginx/nginx.conf:ro \
    --volumes-from ibbd-php-fpm \
    ibbd/$name 

docker ps

